.banner {
    display: none;
    width:100%;
    height:100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #7aa4ef;
    box-shadow:
        inset 0px 13px 0px -10px black,
        inset 0px -13px 0px -10px black;
}

#banner-index {
    background-image: url('/assets/img/back7.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 160%;
}

#banner-projects {
    background-image: url('/assets/img/binary.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 101% 100%;
}

.headshot img {
    max-width: 15%;
    display: block;
    border-radius: 50%;
    height: auto;
    margin: auto;
    background: rgba(255,255,255,0.7);
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#gear {
    padding: 1%;
    background-color: white;
}

.navtab-custom {
    padding-bottom: 0;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #7aa4ef;
}

.navtab-custom .nav-link {
    border-left-width: 2px;
    border-right-width: 2px;
}


.navtab-custom .nav-link:hover {
    margin-bottom: -1px;
    margin-top: -1px;
    border-style: solid;
    border-width: 2px;
    border-color: #7aa4ef;
    border-bottom-color: white;
}

.navtab-custom .nav-link.active {
    margin-bottom: -1px;
    margin-top: -1px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #7aa4ef;
    border-bottom-color: #223d68;
    background: #223d68;
}

.text-body {
    padding: 2% 7%;
    font-size: large;
}

#section-container {
    display: inline-block;
    font-size: large;
    margin-left: 290px;
}

#section-container h1 {
    display: inline;
}

.head-center {
    text-align: center;
}

#page-title {
    background-color: #7AA4EF;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.sidebar {
    display: inline-block;
    background-color: #223d68;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-left-width: 0;
    border-color: #7aa4ef;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 4px 8px;
    position: fixed;
}

.sidebar a {
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar a:hover {
    color: #7aa4ef;
}

.sidebar>ul>li>a {
    font-weight: bold;
}

.sublist li {
    padding-left: 10%;
}

.semester-box {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #223d68;
}

.semester-box p:not(.gpa-box) {
    font-size: medium;
    margin-bottom: 0;
    padding-left: 2%;
}

.semester-box p:nth-child(odd):not(.gpa-box){
    background-color: #7aa4ef;
    background: linear-gradient(to right, rgba(122, 164, 239,1), rgba(122, 164, 239,0));
}

.gpa-box {
    position: relative;
    float: right;
    z-position: 1;
    background-color: #223d68;
    color: white;
    font-size: medium;
    border-style: solid;
    border-color: #7aa4ef;
    border-width: 2px;
}

body, html {
   border: 0;
   padding: 0;
   margin: 0;
}
